<header x-data="{
    open_menu: false
}" 
id="header" class="bg-white w-full h-[45px] shadow-md flex flex-row justify-end items-center fixed top-0 left-0 z-[999]">
    <div class="flex flex-row justify-end items-center gap-10">

        <div class="relative h-full flex flex-row justify-center items-center text-gray-500 basis-auto shrink-0 cursor-pointer">
            <i class="fa-solid fa-cart-shopping text-[20px] text-darkblue"></i>
            <div class="w-[15px] h-[15px] rounded-full text-[10px] text-white bg-red-500 font-[600] flex flex-row justify-center items-center absolute top-[-5px] right-[-12px]">
                <p>1</p>
            </div>
        </div>

        <div class="relative h-full flex flex-row justify-center items-center text-gray-500 basis-auto shrink-0 cursor-pointer">
            <i class="fa-brands fa-stack-overflow text-[20px] text-darkblue"></i>
            <div class="w-[15px] h-[15px] rounded-full text-[10px] text-white bg-red-500 font-[600] flex flex-row justify-center items-center absolute top-[-5px] right-[-12px]">
                <p>1</p>
            </div>
        </div>

        <div class="relative h-full flex flex-row justify-center items-center text-gray-500 basis-auto shrink-0 cursor-pointer">
            <i class="fa-solid fa-file-pen text-[20px] text-darkblue"></i>
            <div class="w-[15px] h-[15px] rounded-full text-[10px] text-white bg-red-500 font-[600] flex flex-row justify-center items-center absolute top-[-5px] right-[-12px]">
                <p>1</p>
            </div>
        </div>
        
        <div class="relative h-full flex flex-row justify-center items-center text-gray-500 basis-auto shrink-0 cursor-pointer">
            <i class="fa-solid fa-circle-check text-[20px] text-darkblue"></i>
            <div class="w-[15px] h-[15px] rounded-full text-[10px] text-white bg-red-500 font-[600] flex flex-row justify-center items-center absolute top-[-5px] right-[-12px]">
                <p>1</p>
            </div>
        </div>

        <div class="relative h-full flex flex-row justify-center items-center text-gray-500 basis-auto shrink-0 cursor-pointer">
            <i class="fa-solid fa-circle-exclamation text-[20px] text-darkblue"></i>
            <div class="w-[15px] h-[15px] rounded-full text-[10px] text-white bg-red-500 font-[600] flex flex-row justify-center items-center absolute top-[-5px] right-[-12px]">
                <p>1</p>
            </div>
        </div>

        <div x-ref="avatar" @click="open_menu = ! open_menu" @click.outside="open_menu = false"
        id='button-setting' class="h-full px-[15px] flex flex-row justify-center items-center text-gray-500 basis-auto shrink-0 cursor-pointer">
            <img class="w-[35px] h-[35px] border-2px border-gray-500 rounded-full p-[1px] hover:border-white" src="/avatar" width="40" alt="user">
            <i class="fa-solid fa-caret-down ml-[5px]"></i>
        </div>
        <a href="/logout" x-show="open_menu" x-anchor.bottom-end="$refs.avatar"
        class="text-red-500 transition-none bg-white border shadow-lg rounded-lg flex flex-row justify-center items-center p-[15px] gap-2 hover:bg-gray-100 cursor-pointer">
            <div class="font-[600]">Logout</div>
            <i class= "fa-solid fa-right-from-bracket"></i>
        </a>
    </div>

</header>