<header id="header" class="bg-white w-full h-[45px] shadow-md flex flex-row justify-end items-center fixed top-0 left-0 z-[999]">
    <div id="icon-bell" class="h-full px-[15px] flex flex-row justify-center items-center text-gray-500 basis-auto shrink-0 relative cursor-pointer">
        <i class="fa-regular fa-bell text-[20px]"></i>
        <div class="w-[15px] h-[15px] rounded-full text-[10px] text-white bg-red-600 font-[600] flex flex-row justify-center items-center absolute top-[15%] right-[15%]">
            <p>1</p>
        </div>
    </div>
    <div id='button-setting' class="h-full px-[15px] flex flex-row justify-center items-center text-gray-500 basis-auto shrink-0 cursor-pointer">
        <img class="w-[35px] h-[35px] border-2px border-gray-500 rounded-full p-[1px] hover:border-white" src="/avatar" width="40" alt="user">
        <i class="fa-solid fa-caret-down ml-[5px]"></i>
    </div>
</header>