<title id="title">404 | TCCB - USSH</title>
<link href="{{ url_for('static', path='/styles/main.css') }}" rel="stylesheet">

<div id="boder" class="h-full basis-full shrink bg-pink overflow-y-scroll overflow-x-hidden flex flex-col justify-start items-center">
	<div class="relative bg-white w-full h-full flex flex-col items-center justify-start text-center">
		<div id="404" class="absolute w-full h-10px top-[60px] text-[80px] leading-none">404</div>
		<img class="w-[500px] pt-[50px]" src="/404.gif" alt="ERROR NOT FOUND">
		<div id="text" class="absolute w-full top-[370px] flex flex-col justify-end items-center">
			<div class="font-[500] text-[22px] pb-[45px]">Nội dung bạn muốn không tồn tại!</div>
			<a href="mailto:nguyennhatnam@hcmussh.edu.vn" class="bg-[#39ad31] text-white font-[500] py-[10px] px-[20px] hover:underline">Liên hệ hỗ trợ</a>
		</div>
	</div>
</div>
