<title id="title">Đơn vị | TCCB - USSH</title>

<div id="boder" class="basis-full shrink overflow-y-hidden overflow-x-hidden flex flex-col justify-start items-center">
    <div id="container" 
    x-data="{
        search: '',
        isLoading: false
    }"
    class="overflow-auto w-full h-full flex flex-col justify-start items-center px-[30px] py-[15px] gap-1">

        <!-- {# Search #} -->
        <div x-data="{focused: false}" class="w-full flex flex-row justify-center items-center shrink-0">
            <div :class="focused ? 'border-orange' : 'border-gray-100'"
            class="transition-none w-[500px] h-[50px] rounded-3xl bg-white border flex flex-row justify-start items-center mb-[20px]">
                <div class="basis-[50px] shrink-0 rounded-full">
                    <i class="fa-solid fa-magnifying-glass text-[14px] text-gray-500"></i>
                </div>
                <input x-model="search"
                @focus="focused = true"
                @focusout="focused = false"
                @input="$dispatch('searching')"
                class="transition-none bg-white p-0 rounded-r-3xl basis-[87%] shrink text-[16px] border-transparent focus:border-transparent focus:ring-0" 
                type="search">
            </div>
        </div>
        <!-- {# End search #} -->

        <!-- tabs row-->
        <div class="w-full basis-[44px] shrink-0 max-w-[1000px] rounded-t-3xl overflow-x-hidden border">
            <div id="tabs-nhansu" 
            x-data="{tab1Active: true, tab2Active: false}"
            class="transition-none z-[1] relative w-full min-w-[750px] max-w-[1000px] flex flex-row justify-start items-start">
                <div id="tab1-donvi" 
                :class="tab1Active ? 'border-b-2 border-b-orange shadow-md bg-white' : 'hover:bg-gray-50'"
                @click="$dispatch('tab1'); tab1Active = true; tab2Active = false"
                class="font-[500] transition-none py-[10px] px-[15px] cursor-pointer">Đơn vị thuộc Trường</div>
            </div>
        </div>
        <!-- end tabs row -->

        <!-- tab 1 -->
        <div x-data="{show:true,
            dataframe: {},
            output: [],
            miniSearch: '',
            getSearchResults() {
                if (search === '') {
                    this.output = Object.values(this.dataframe);
                } else {
                    this.output = this.miniSearch.search(search).map(({ id }) => this.dataframe[id])
                }
            },
            async getData() {
                this.miniSearch = new MiniSearch({
                    fields: ['ten'],
                    searchOptions: {
                        prefix: true,
                        combineWith: 'AND',
                    },
                })
                isLoading = true;
                fetch('/api/donvi/search')            
                    .then((response) => response.json())
                    .then((result) => {
                        result = result.data
                        this.dataframe = result.reduce((byId, song) => {
                            byId[song.id] = song;
                            return byId;
                        }, {});
                        this.output = Object.values(this.dataframe);
                        this.miniSearch.addAll(result);
                        isLoading = false;
                    });
            },
            updateDonvi(data) {
                console.log(this.dataframe[data.id])
                console.log(data)
                if (this.dataframe[data.id]) {
                    this.miniSearch.remove(this.dataframe[data.id])
                    delete this.dataframe[data.id]
                }
                this.dataframe[data.id] = data
                this.miniSearch.add(this.dataframe[data.id])
                this.getSearchResults()
            },
            deleteDonvi(id) {
                console.log(this.dataframe[id])
                if (this.dataframe[id]) {
                    this.miniSearch.remove(this.dataframe[id])
                    delete this.dataframe[id]
                }
                this.getSearchResults()
            }
        }"
        x-init="getData()"
        @tab2.window="show = false"
        @tab1.window="show = true"
        @searching.window="getSearchResults()"
        @updatedonvi.window="updateDonvi($event.detail.data)"
        @deletedonvi.window="deleteDonvi($event.detail.id)"
        x-show="show"
        class="w-full max-w-[1000px]">
            {# Table #}
            <div id="table-donvi" class="transition-none z-[1] min-w-[750px] relative w-full max-w-[1000px] flex flex-col justify-start text-left">
                <!-- head of table -->
                <div id="thead-donvi" 
                class="sticky top-[-15px] w-full min-w-[750px] flex flex-row bg-gray-200 text-black font-[700] z-[1]">
                    <div class="w-[5%] min-w-[50px] flex flex-row justify-start items-center">
                        <div class="p-[15px]">#</div>
                    </div>
                    <div class="w-[40%] min-w-[300px] flex flex-row justify-start items-center">
                        <div class="py-[15px]">Tên đơn vị</div>
                    </div>
                    <div class="w-[15%] min-w-[100px] flex flex-row justify-start items-center">
                        <div class="py-[15px]">Loại</div>
                    </div>
                    <div class="w-[15%] min-w-[100px] flex flex-row justify-start items-center">
                        <div class="py-[15px]">Cấp</div>
                    </div>
                    <div class="w-[15%] min-w-[100px] flex flex-row justify-start items-center">
                        <div class="py-[15px]">Có pháp nhân</div>
                    </div>
                    <div class="w-[10%] min-w-[80px] flex flex-row justify-center items-center">
                        <div class="py-[15px]">@</div>
                    </div>
                </div>
                <!-- end head of table -->            
            
                <!-- body of table -->
                <div id="tbody-donvi" 
                x-show="! isLoading"
                class="bg-white min-w-[750px] max-w-[1000px] rounded-b-3xl flex flex-col w-auto justify-start items-start overflow-y-hidden">
                    <template x-for="(item, index) in output" :key="index">
                        <div id="trow-donvi" class="hover:bg-gray-100 cursor-default w-full min-w-[750px] flex flex-row bg-white font-[500]">
                            {# index #}
                            <div class="w-[5%] min-w-[50px] flex flex-row justify-start items-center font-[400]">
                                <div x-text="index + 1" class="py-[10px] px-[15px]"></div>
                            </div>
                            {# end index #}

                            {# ten donvi #}
                            <div class="w-[40%] min-w-[300px] flex flex-row justify-start items-center text-[#0b57d0]">
                                <div @click="$dispatch('portfolio', {target: item.id})"
                                x-text="item.ten" class="py-[10px] hover:underline cursor-pointer"></div>
                            </div>
                            {# end tendonvi #}

                            {# loai don vi #}
                            <div class="w-[15%] min-w-[100px] flex flex-row justify-start items-center font-[400]">
                                <div x-text="item.loai" class="py-[10px]"></div>
                            </div>
                            {# end loai don vi #}

                            {# cap don vi #}
                            <div class="w-[15%] min-w-[100px] flex flex-row justify-start items-center font-[400]">
                                <div x-text="item.cap" class="py-[10px]"></div>
                            </div>
                            {# end cap don vi #}

                            {# don vi co phap nhan #}
                            <div class="w-[15%] min-w-[100px] flex flex-row justify-start items-center font-[400]">
                                <div x-text="item.is_phapnhan" class="py-[10px]"></div>
                            </div>
                            {# end don vi co phap nhan #}

                            {# button hoso #}
                            <div class="w-[10%] min-w-[80px] flex flex-row justify-center items-center font-[400]">
                                <div class="text-[12px] hover:bg-green hover:border-transparent rounded-2xl border-2 border-green px-[10px] py-[0px] font-[500] cursor-pointer"
                                >Chọn</div>
                            </div>
                            {# end button hoso #}
                        </div>
                    </template>
                </div>
                <!-- end body of table -->

                {# skeleton #}
                <div x-show="isLoading"
                class="mt-[20px] relative w-full flex flex-col gap-8">
                    <div class="skeleton h-32 w-full"></div>
                    <div class="skeleton h-4 w-28"></div>
                    <div class="skeleton h-4 w-full"></div>
                    <div class="skeleton h-4 w-full"></div>
                </div>
                {# end skeleton #}

            </div>
            {# End Table #}
        </div>
        
        <!-- hoso -->
        <div x-data="{type: 'modify', open: false, target: '', donvi: {}, donvii: {}, button_text: 'Cập nhật'}" x-show="open" 
        @portfolio.window="target = $event.detail.target; 
        open = true;
        type = 'modify';
        button_text: 'Cập nhật';
        fetch(`/api/donvi/read/${target}`)            
        .then((response) => response.json())
        .then((result) => {
            donvi = result;
        });"
        @newportfolio.window="
        open = true;
        type = 'new';
        button_text= 'Thêm mới';
        console.log(button_text);
        donvi = {loai: '', cap: '', ten: '', is_phapnhan: false}
        "
        class="flex justify-center items-start fixed left-0 top-0 h-screen w-screen z-[3001] py-[20px]">
            <div x-show="open" 
            @click="open = false; $dispatch('closepopup');" 
            @keyup.escape.window="open = false; $dispatch('closepopup');" 
            class="fixed left-0 top-0 w-screen h-screen bg-black opacity-70">
            </div>
            <div class="relative z-[1] gap-4 px-[16px] py-[32px] rounded-xl overflow-hidden w-[800px] h-auto max-h-full bg-white opacity-100 overflow-x-hidden overflow-y-auto">
                <div class="text-[25px] absolute top-[15px] right-[20px] cursor-pointer">
                    <i class="fa-solid fa-xmark hover:text-orange transition-none"
                    @click="open = false"></i>
                </div>
                <!-- tieu de -->
                <div class="w-full flex flex-col justify-center items-start">
                    <div class="w-full text-[27px] font-[600] leading-tight mb-[20px]">
                        Hồ sơ đơn vị
                    </div>
                    <div class="w-full border my-[15px]"></div>
                </div>
                <!-- end tieu de -->
                <div class="w-full flex flex-col justify-start items-start gap-6">
                    <div class="text-[16px] text-black font-[500]">
                        Thông tin chi tiết
                    </div>
                    <div class="w-full flex flex-row justify-start items-start gap-6">
                        <div class="basis-[50%] shrink flex flex-col justify-start items-start gap-2">
                            <div>
                                Loại đơn vị <span class="text-red-600"> *</span>
                            </div>
                            <input type="text" 
                            x-model="donvi.loai"
                            class="w-full h-[40px] rounded-lg bg-gray-100 border-transparent focus:border-orange focus:ring-0">
                        </div>

                        <div class="basis-[50%] shrink flex flex-col justify-start items-start gap-2">
                            <div>
                                Cấp đơn vị <span class="text-red-600"> *</span>
                            </div>
                            <input type="text" 
                            x-model="donvi.cap"
                            class="w-full h-[40px] rounded-lg bg-gray-100 border-transparent focus:border-orange focus:ring-0">
                        </div>
                    </div>
                    <div class="w-full shrink flex flex-col justify-start items-start gap-2">
                        <div>
                            Tên đơn vị <span class="text-red-600"> *</span>
                        </div>
                        <input type="text" 
                        x-model="donvi.ten"
                        class="w-full h-[40px] rounded-lg bg-gray-100 border-transparent focus:border-orange focus:ring-0">
                    </div>
                    <div class="w-full flex flex-row justify-start items-start gap-6">
                        <div class="flex flex-row justify-start items-start gap-2">
                            <input type="checkbox" x-model="donvi.is_phapnhan" class="checkbox">
                            <div>Đơn vị có pháp nhân</div>
                        </div>
                    </div>
                    <div class="w-full h-[50px] shrink flex flex-row justify-start items-start text-[16px]">
                        <div class="basis-[100px] h-full shrink-0"></div>
                        <!-- button update -->
                        <div class="basis-full h-full shrink flex justify-center items-center">
                            <input type="button" 
                            x-model="button_text"
                            @click="{id, ...donvii} = donvi;
                            if (type=='new') {
                                url = '/api/donvi/create';
                            } else if (type == 'modify') {
                                url = `/api/donvi/update?donvi_id=${donvi.id}`
                            }
                            fetch(url,
                            {method:'POST',
                            headers:{'Content-Type': 'application/json',},
                            body: JSON.stringify({...donvii})})
                            .then((response) => response.json())
                            .then((result) => {
                                console.log(result)
                                $dispatch('updatedonvi', {data: result})
                                open = false; 
                                $dispatch('closepopup');
                            });"
                            class="bg-orange text-white py-[10px] px-[15px] rounded-md cursor-pointer font-[500]">
                        </div>
                        <!-- end button update -->

                        <!-- button delete -->
                        <div class="h-full basis-[100px] shrink-0 flex flex-row justify-center items-center">
                            <template x-if="type=='modify'">
                                <i class="transition-none cursor-pointer fa-solid fa-trash-can text-[16px] hover:text-red-500"
                                @click="url = `/api/donvi/remove/${donvi.id}`
                                fetch(url)
                                .then((response) => response.json())
                                .then((result) => {
                                    if(result.message === 'delete successful') {
                                        $dispatch('deletedonvi', {id: donvi.id})
                                        open = false; 
                                        $dispatch('closepopup');
                                    }
                                });"></i>
                            </template>
                        </div>
                        <!-- end button delete -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end hoso -->



        <!-- {# Điều chỉnh #} -->
        <div x-data="{show: false}"
        class="transition-none fixed bottom-[50%] translate-y-[60%] right-[0px] z-[2]">
            <div class="transition-none min-h-[50px] min-w-[10px] border-l-2 border-y-2 border-orange px-[5px] py-[20px] shadow-md flex flex-col justify-center items-center gap-4 relative"
            :class="show ? 'bg-white cursor-default rounded-l-2xl' : 'bg-orange cursor-pointer rounded-l-lg'"
            @mouseover="show=true" @mouseover.away="show=false">
                <div class="absolute left-[1px]">
                    <i x-show="!show" class="text-white fa-solid fa-caret-left"></i>
                </div>
                <div x-show="show"
                @click="$dispatch('newportfolio')"
                class="w-[30px] h-[30px] bg-orange text-white text-[16px] font-[500] rounded-full flex justify-center items-center gap-2 cursor-pointer">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div x-show="show"
                @click="$dispatch('database')"
                class="w-[30px] h-[30px] bg-orange text-white text-[16px] font-[500] rounded-full flex justify-center items-center gap-2 cursor-pointer">
                    <i class="fa-solid fa-table"></i>
                </div>
            </div>
        </div>
        <!-- {# End Điều chỉnh #} -->


        <!-- {# download/upload #} -->
        <div x-data="{open: false}" @database.window="open = ! open" class="fixed left-0 top-0 z-[2000]">
            <div x-show="open" 
            @click="open = ! open; $dispatch('closepopup'); htmx.trigger('#upload-form', 'htmx:abort')" 
            @keyup.escape.window="open = ! open; $dispatch('closepopup'); htmx.trigger('#upload-form', 'htmx:abort')" 
            class="w-screen h-screen bg-black opacity-70"></div>
            <div x-show="open" class="rounded-xl overflow-hidden fixed top-[50%] translate-y-[-50%] left-[50%] translate-x-[-50%] w-[500px] h-[400px] bg-white opacity-100">
                <div id="form-donvi" 
                hx-trigger="database from:body"
                hx-get="/template/donvi/form/upload"
                hx-ext="alpine-morph"
                hx-swap="multi:#form-donvi:morph"
                class="w-full h-full flex justify-center items-center">
                    <div class="htmx-indicator flex flex-col gap-6 w-[400px]">
                        <div class="skeleton h-32 w-full"></div>
                        <div class="skeleton h-4 w-28"></div>
                        <div class="skeleton h-4 w-full"></div>
                        <div class="skeleton h-4 w-full"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- {# End download/upload #} -->

    </div>  
</div>