<title id="title">Nhân sự | TCCB - USSH</title>

<div id="boder" class="basis-full shrink overflow-y-hidden overflow-x-hidden flex flex-col justify-start items-center">
    <div id="container" 
    class="overflow-auto w-full h-full flex flex-col justify-start items-center px-[30px] py-[15px]">

        <div id="form" x-data="{ 
            search: '',
            selected: '',
            dataframe: [],
            output: [],
            miniSearch: '',
            isLoading: false,
            showoptions: false,
            choose: 0,
            get checkselected() {
                return this.selected ? true : false;
            },
            async getData() {
                this.miniSearch = new MiniSearch({
                    fields: ['sohd'],
                    searchOptions: {
                        prefix: true,
                        combineWith: 'AND',
                    },
                    tokenize: (string, _fieldName) => string.split('.')
                })
                this.isLoading = true;
                fetch('/api/chucnang/danhsach-hd-moi')            
                    .then((response) => response.json())
                    .then((result) => {
                        this.dataframe = result.data.reduce((byId, song) => {
                            byId[song.id] = song;
                            return byId;
                        }, {});
                        this.miniSearch.addAll(result.data);
                        this.isLoading = false;
                    });
            },
            getSearchResults() {
                if (this.selected) {
                    if (this.search !== this.selected.sohd) {
                        this.selected = ''
                    }
                }
                console.log(this.selected['giangvien'])
                
                if (this.search === '') {
                    this.output = []
                    this.showoptions = false
                } else {
                    this.output = this.miniSearch.search(this.search).map(({ id }) => this.dataframe[id]).slice(0, 4)
                    this.showoptions = true
                }
                    
            },
            checkchoose(index) {
                return index === this.choose
            },
            addItem(value) {
                this.search = value.sohd;
                this.selected = value
                this.showoptions = false;
            },
            selectoption(type) {
                if (type === 'up' && this.choose > 0) {
                    this.choose = this.choose - 1
                } else if (type === 'down' && this.choose < (this.output.length - 1)) {
                    this.choose = this.choose + 1
                }
            },
            enterEvent() {
                if (this.output.length > 0) {
                    this.search = this.output[this.choose].sohd
                    this.selected = this.output[this.choose]
                    this.showoptions = false;
                } else {
                    this.search = ''
                }
            },
        }"
        x-init="getData()"
        hx-post="/template/chucnang/loai" 
        hx-trigger="submited from:body"
        hx-vals='js:{"chucnang": event.detail.id}'
        hx-ext="alpine-morph,json-enc" 
        hx-swap="multi:#form:morph"
        class="transition-none rounded-lg w-[700px] flex flex-col justify-start items-center mx-[16px] mt-[40px] mb-[160px] border px-[16px] pt-[32px] pb-[16px]">
            {# expander button title #}
            <div></div>

            {# tieu de form #}
            <div class="w-full flex flex-col gap-4 justify-start items-center mb-[20px]">
                <div class="w-full text-[27px] font-[600] leading-tight mb-[20px]">
                    Nhận hợp đồng mới
                </div>
                <div class="flex flex-row justify-center items-start">
                    <div class="flex flex-col justify-center items-center w-[100px]">
                        <div class="w-[25px] h-[25px] rounded-full border-none text-white bg-orange font-[500]">1</div>
                        <div class="font-[500] text-gray-500">Kiểm tra</div>
                    </div>
                    <span><i class="fa-solid fa-chevron-right text-gray-400"></i></span>
                    <div class="flex flex-col justify-center items-center w-[100px]">
                        <div class="w-[25px] h-[25px] rounded-full border-2 text-gray-400 font-[500]">2</div>
                        <div class="font-[500] text-gray-500">Xác nhận</div>
                    </div>
                    <span><i class="fa-solid fa-chevron-right text-gray-400"></i></span>
                    <div class="flex flex-col justify-center items-center w-[100px]">
                        <div class="w-[25px] h-[25px] rounded-full border-2 text-gray-400 font-[500]">3</div>
                        <div class="font-[500] text-gray-500">Hoàn Thành</div>
                    </div>
                </div>
                <div class="w-full border m-[15px]"></div>
            </div>
            {# end tieu de form #}

            {# body form #}
            <div class="w-full flex flex-col justify-start items-start mb-[20px] gap-8">
                {# input search #}
                <div class="z-[2] w-full flex flex-col justify-start items-start gap-6">
                    <div class="text-[16px] text-black font-[500]">Số hợp đồng<span class="text-red-600"> *</span></div>
                    
                    <div x-show="isLoading"
                    class="w-full flex flex-rowf justify-center items-start gap-4">
                        <i class="fa-solid fa-spinner fa-spin-pulse text-[20px]"></i>
                        <div class="cursor-default text-[16px] text-gray-400 underline">Dữ liệu đang được đồng bộ từ Google Sheet</div>
                    </div>

                    <input x-show="! isLoading"
                    x-ref="search"
                    x-model="search"
                    type="search"
                    placeholder="vd: 01/2023/HĐMG-XHNV-TCCB"
                    @input="getSearchResults()"
                    @click="getSearchResults()"
                    @focus="getSearchResults()"
                    @click.outside="showoptions = false"
                    @keyup.enter.prevent="enterEvent()"
                    @keydown.up.prevent.throttle.100ms="selectoption('up')"
                    @keydown.down.prevent.throttle.100ms="selectoption('down')"
                    @keyup.up.prevent
                    @keyup.down.prevent
                    class="placeholder-gray-400 w-full h-[45px] rounded-lg bg-gray-100 border-transparent focus:border-orange focus:ring-0">
                </div>
                {# end input search #}

                {# show option #}
                <div x-show="showoptions" x-anchor.bottom="$refs.search" class="transition-none z-[3] w-full mt-[3px]">
                    <ul class="transition-none shadow-[0px_4px_16px_0px_rgba(0,0,0,0.16)] bg-white rounded-lg w-full h-auto flex flex-col overflow-hidden">
                        <template x-if="output.length === 0">
                            <li  class="transition-none w-full text-gray-400 cursor-default py-[10px] px-[20px]">Không tìm thấy kết quả nào</li>
                        </template>
                        <template x-for="(item, index) in output" :key="item.id">
                            <li x-text="item.sohd"
                            @click="addItem(item)"
                            @mouseover="choose = index"
                            :class="checkchoose(index) ? 'bg-gray-100' : ''"
                            class="text-left w-full cursor-pointer py-[10px] px-[20px]"></li>
                        </template>
                    </ul>
                </div>
                {# end show option #}

                {# thông tin hợp đồng #}
                <div  
                class="w-full flex flex-col justify-start items-start gap-6">
                    <div class="text-[16px] text-black font-[500]">
                        Thông tin hợp đồng
                    </div>

                    <div class="w-full shrink flex flex-col justify-start items-start gap-2">
                        <div>
                            Họ và tên Giảng viên
                        </div>
                        <input type="text" 
                        disabled 
                        x-model="selected['giangvien']"
                        class="text-gray-400 cursor-not-allowed w-full h-[40px] rounded-lg bg-gray-100 border-transparent focus:border-orange focus:ring-0">
                    </div>

                    <div class="w-full flex flex-row justify-start items-start gap-6">

                        <div class="basis-[50%] shrink flex flex-col justify-start items-start gap-2">
                            <div>
                                Đơn vị mời giảng
                            </div>
                            <input type="text" 
                            disabled 
                            x-model="selected['donvi']"
                            class="text-gray-400 cursor-not-allowed w-full h-[40px] rounded-lg bg-gray-100 border-transparent focus:border-orange focus:ring-0">
                        </div>

                        <div class="basis-[50%] shrink flex flex-col justify-start items-start gap-2">
                            <div>
                                Người lấy số
                            </div>
                            <input type="text" 
                            disabled 
                            x-model="selected['nguoilayso']"
                            class="text-gray-400 cursor-not-allowed w-full h-[40px] rounded-lg bg-gray-100 border-transparent focus:border-orange focus:ring-0">
                        </div>

                    </div>

                    {# button submit #}
                    <input type="submit"
                    value="Add"
                    @click="$dispatch('submited', {id: selected.id})"
                    :class="checkselected ? 'bg-orange text-white cursor-pointer' : 'text-gray-400 border border-gray-300 cursor-not-allowed'"
                    class="z-[1] text-[14px] font-[500] px-[20px] py-[5px] rounded-lg leading-normal">
                    {# end button submit #}

                    <div class="w-full p-[10px] border rounded-md flex flex-row justify-start items-start flex-wrap gap-2">
                        <div class="text-[13px] bg-[#ff4b4b] rounded-lg text-white px-[10px] py-[2px] cursor-default flex flex-row items-center relative">
                            <div class="w-[110px] h-[20px] overflow-hidden">1234/2023/HĐMG-XHNV-TCCB</div>
                            <i @click="removeItem(result)"
                            class="fa-solid fa-xmark cursor-pointer pl-[10px]"></i>
                        </div>
                        <div class="text-[13px] bg-[#ff4b4b] rounded-lg text-white px-[10px] py-[2px] cursor-default flex flex-row items-center relative">
                            <div class="w-[110px] h-[20px] overflow-hidden">234/2023/HĐMG-XHNV-TCCB</div>
                            <i @click="removeItem(result)"
                            class="fa-solid fa-xmark cursor-pointer pl-[10px]"></i>
                        </div>
                        <div class="text-[13px] bg-[#ff4b4b] rounded-lg text-white px-[10px] py-[2px] cursor-default flex flex-row items-center relative">
                            <div class="w-[110px] h-[20px] overflow-hidden">01/2023/HĐMG-XHNV-TCCB</div>
                            <i @click="removeItem(result)"
                            class="fa-solid fa-xmark cursor-pointer pl-[10px]"></i>
                        </div>
                        <div class="text-[13px] bg-[#ff4b4b] rounded-lg text-white px-[10px] py-[2px] cursor-default flex flex-row items-center relative">
                            <div class="w-[110px] h-[20px] overflow-hidden">5/2023/HĐMG-XHNV-TCCB</div>
                            <i @click="removeItem(result)"
                            class="fa-solid fa-xmark cursor-pointer pl-[10px]"></i>
                        </div>
                        <div class="text-[13px] bg-[#ff4b4b] rounded-lg text-white px-[10px] py-[2px] cursor-default flex flex-row items-center relative">
                            <div class="w-[110px] h-[20px] overflow-hidden">01/2023/HĐMG-XHNV-TCCB</div>
                            <i @click="removeItem(result)"
                            class="fa-solid fa-xmark cursor-pointer pl-[10px]"></i>
                        </div>
                        <div class="text-[13px] bg-[#ff4b4b] rounded-lg text-white px-[10px] py-[2px] cursor-default flex flex-row items-center relative">
                            <div class="w-[110px] h-[20px] overflow-hidden">5/2023/HĐMG-XHNV-TCCB</div>
                            <i @click="removeItem(result)"
                            class="fa-solid fa-xmark cursor-pointer pl-[10px]"></i>
                        </div>
                    </div>
                </div>
                {# end thông tin hợp đồng #}

                <div class="w-full border my-[15px]"></div>

            </div>

            <div class="w-full flex flex-row justify-between items-start mb-[20px]">
                <div class="">
                    {# button submit #}
                    <input type="submit"
                    value="Cancel"
                    @click="$dispatch('submited', {id: selected.id})"
                    class="hover:border-orange hover:text-orange z-[1] text-[14px] font-[500] px-[20px] py-[5px] rounded-lg leading-normal cursor-pointer border border-gray-500 text-gray-600">
                    {# end button submit #}
                </div>

                <div class="flex flex-row justify-end items-start gap-4">
                    {# button submit #}
                    <input type="submit"
                    value="Back"
                    @click="$dispatch('submited', {id: selected.id})"
                    class="hover:border-orange hover:text-orange z-[1] text-[14px] font-[500] px-[20px] py-[5px] rounded-lg leading-normal cursor-pointer border border-gray-500 text-gray-600">
                    {# end button submit #}
                    {# button submit #}
                    <input type="submit"
                    value="Next"
                    @click="$dispatch('submited', {id: selected.id})"
                    class="hover:border-orange hover:text-orange z-[1] text-[14px] font-[500] px-[20px] py-[5px] rounded-lg leading-normal cursor-pointer border border-gray-500 text-gray-600">
                    {# end button submit #}
                </div>
            </div>

        </div>

    </div>  
</div>