<title id="title">Đăng nhập | TCCB - USSH</title>

<div id="boder" class="transition-none bg-[#f0f4f9] relative w-full h-screen flex flex-col justify-center items-center">
    <div class="transition-none relative bg-white w-[400px] h-[450px] flex flex-col justify-center items-center rounded-xl shadow-lg">
        <div class="transition-none w-full text-3xl font-[700] absolute left-[50%] translate-x-[-50%] top-[15%] cursor-pointer">Đăng nhập</div>
        <a class="transition-none w-[350px] h-[60px] rounded-lg shadow-[0_3px_8px_-1px_rgba(0,0,0,0.24)] cursor-pointer flex flex-row justify-center items-center active:translate-y-[4px] active:shadow-none" href="http://localhost:8000/api/login/google">
            <img src="{{ url_for('static', path = '/images/google_icon.svg') }}" class="w-auto h-[80%]">
            <div class="transition-none w-full h-full flex flex-row justify-center items-center">
                <p class="transition-none font-[500] text-gray-400">Đăng Nhập Với Email Trường</p>
            </div>
        </a>
        <div class="transition-none w-full absolute left-[50%] translate-x-[-50%] bottom-[15%] flex flex-row justify-center items-center">
            <p>Bạn chưa có tài khoản?&nbsp;</p>
            <a href="/register" class="transition-none text-sky-600 underline">Đăng ký</a>
        </div>
    </div>
</div>
