<title id="title">Nhân sự | TCCB - USSH</title>

<div id="boder" class="basis-full shrink overflow-y-hidden overflow-x-hidden flex flex-col justify-start items-center">
    <div id="container" 
    x-data="{
        search: '',
        trangthaiselected: '',
        selected: [],
        checkbox: [],
        totaldataframe: {},
        totaloutput: [],
        isLoading: false,
        get checkselected() {
            return this.selected.length > 0
        },
        removeselected(value) {
            const index = this.selected.indexOf(value);
            if (index > -1) {
                this.selected.splice(index, 1);
            }
        },
        get reverseArray() {
            const reversed = [];
            for (let i = this.selected.length - 1; i >= 0; i--) {
                reversed.push(this.selected[i]);
            }
            return reversed;
        },
        getData() {
            this.isloading = true;
            fetch('/api/hopdong/search')            
            .then((response) => response.json())
            .then((result) => {
                this.totaloutput = result.data
                this.totaldataframe = this.totaloutput.reduce((byId, song) => {
                    byId[song.id] = song;
                    return byId;
                }, {});
                console.log(this.totaldataframe)
                console.log(this.totaloutput)
                this.isLoading = false;
                $dispatch('getdata')
            });
        },
        clickall(trangthai, bienban) {
            console.log(trangthai);
            console.log(bienban);
            havefalse=false;
            var arr = this.totaloutput.filter((item) => {return item.trangthai == trangthai})
            for (let i = 0; i < arr.length; i++) {
                if (arr[i].bienban == bienban) {
                    console.log(this.checkbox[arr[i].id])
                    if (! this.checkbox[arr[i].id]) {
                        havefalse=true;
                    }
                    console.log(havefalse)
                    this.checkbox[arr[i].id] = true
                    console.log(this.checkbox[arr[i].id])
                }
            }
            if (! havefalse) {
                for (let i = 0; i < arr.length; i++) {
                    if (arr[i].bienban == bienban) {
                        this.checkbox[arr[i].id] = false
                    }
                }
            }
        }
    }" x-init="getData()"
    @hdchecked="
    if (selected.length == 0) {
        trangthaiselected = ''
    }
    if($event.detail.data.trangthai == 'Đã tạo' || $event.detail.data.trangthai == 'Có sẵn' || $event.detail.data.trangthai == 'Hoàn thành') {
        var trangthai = 'Có sẵn'
    } else {
        var trangthai = $event.detail.data.trangthai
    }
    if (trangthaiselected == '' || trangthaiselected == trangthai) {
        trangthaiselected = trangthai
        checkbox[$event.detail.data.id]=true;
        selected.push($event.detail.data);
    } else {
        checkbox[$event.detail.data.id]=true;
        checkbox[$event.detail.data.id]=false;
        alert('Hiện tại, không thể chọn hợp đồng ở trạng thái [' + trangthai + '], vì đang có ' + selected.length + ' hợp đồng ở trạng thái [' + trangthaiselected + '] đang được chọn.')
    }
    "
    @hdunchecked="
    checkbox[$event.detail.data.id]=false;
    removeselected($event.detail.data);
    "
    class="overflow-auto w-full h-full flex flex-col justify-start items-center px-[30px] py-[15px] gap-2">

        <!-- {# Search #} -->
        <div x-data="{focused: false}" class="w-full flex flex-row justify-center items-center shrink-0">
            <div :class="focused ? 'border-orange' : 'border-gray-100'"
            class="transition-none w-[500px] h-[50px] rounded-3xl bg-white border flex flex-row justify-start items-center mb-[20px]">
                <div class="basis-[50px] shrink-0 rounded-full">
                    <i class="fa-solid fa-magnifying-glass text-[14px] text-gray-500"></i>
                </div>
                <input x-model="search"
                @focus="focused = true"
                @focusout="focused = false"
                @input="$dispatch('searching')"
                class="transition-none bg-white p-0 rounded-r-3xl basis-[87%] shrink text-[16px] border-transparent focus:border-transparent focus:ring-0" 
                type="search">
            </div>
        </div>
        <!-- {# End search #} -->


        <!-- tabs row-->
        <div class="w-full max-w-[1000px] rounded-t-3xl overflow-hidden border">
            <div id="tabs-hopdong" 
            x-data="{tab1Active: true, tab2Active: false, tab3Active: false, tab4Active: false, tab5Active: false, tab6Active: false}"
            class="transition-none z-[1] relative w-full min-w-[750px] max-w-[1000px] flex flex-row justify-start items-start">
                
                <div id="tab1-hopdong" 
                :class="tab1Active ? 'border-b-2 border-b-orange font-[500] shadow-md bg-white' : 'hover:bg-gray-50'"
                @click="$dispatch('tab1'); tab1Active = true; tab2Active = false; tab3Active = false; tab4Active = false; tab5Active = false; tab6Active = false"
                class="transition-none py-[10px] px-[20px] cursor-pointer flex flex-row justify-start items-center gap-1">
                    <i class="fa-solid fa-cart-shopping text-[16px] pr-[2px] text-darkblue"></i>
                    <div class="transition-none">Đã tạo / Có sẵn</div>
                    <template x-if="totaloutput.filter((item) => {return item.trangthai == 'Đã tạo' || item.trangthai == 'Có sẵn'}).length > 0">
                        <div x-text="totaloutput.filter((item) => {return item.trangthai == 'Đã tạo' || item.trangthai == 'Có sẵn'}).length"
                        class="transition-none px-[7px] leading-1 bg-red-500 text-white rounded-full font-[500] text-[13px]"></div>
                    </template>
                    
                </div>

                <div id="tab2-hopdong" 
                :class="tab2Active ? 'border-b-2 border-b-orange font-[500] shadow-md bg-white' : 'hover:bg-gray-50'"
                @click="$dispatch('tab2'); tab1Active = false; tab2Active = true; tab3Active = false; tab4Active = false; tab5Active = false; tab6Active = false"
                class="transition-none py-[10px] px-[20px] cursor-pointer flex flex-row justify-start items-center gap-1">
                    <i class="fa-brands fa-stack-overflow text-[16px] pr-[2px] text-darkblue"></i>
                    <div class="transition-none">P.TCCB đã nhận</div>
                    <template x-if="totaloutput.filter((item) => {return item.trangthai == 'P.TCCB đã nhận'}).length > 0">
                        <div x-text="totaloutput.filter((item) => {return item.trangthai == 'P.TCCB đã nhận'}).length"
                        class="transition-none px-[7px] leading-1 bg-red-500 text-white rounded-full font-[500] text-[13px]"></div>
                    </template>
                </div>

                <div id="tab3-hopdong"
                :class="tab3Active ? 'border-b-2 border-b-orange font-[500] shadow-md bg-white' : 'hover:bg-gray-50'"
                @click="$dispatch('tab3'); tab1Active = false; tab2Active = false; tab3Active = true; tab4Active = false; tab5Active = false; tab6Active = false"
                class="transition-none py-[10px] px-[20px] cursor-pointer flex flex-row justify-start items-center gap-1">
                    <i class="fa-solid fa-file-pen text-[16px] pr-[2px] text-darkblue"></i>
                    <div class="transition-none">Đang trình ký</div>
                    <template x-if="totaloutput.filter((item) => {return item.trangthai == 'Đang trình ký'}).length > 0">
                        <div x-text="totaloutput.filter((item) => {return item.trangthai == 'Đang trình ký'}).length"
                        class="transition-none px-[7px] leading-1 bg-red-500 text-white rounded-full font-[500] text-[13px]"></div>
                    </template>
                </div>

                <div id="tab4-hopdong"
                :class="tab4Active ? 'border-b-2 border-b-orange font-[500] shadow-md bg-white' : 'hover:bg-gray-50'"
                @click="$dispatch('tab4'); tab1Active = false; tab2Active = false; tab3Active = false; tab4Active = true; tab5Active = false; tab6Active = false"
                class="transition-none py-[10px] px-[20px] cursor-pointer flex flex-row justify-start items-center gap-1">
                    <i class="fa-solid fa-circle-check text-[16px] pr-[2px] text-darkblue"></i>
                    <div class="transition-none">Đã ký - chờ nhận</div>
                    <template x-if="totaloutput.filter((item) => {return item.trangthai == 'Đã ký - chờ nhận'}).length > 0">
                        <div x-text="totaloutput.filter((item) => {return item.trangthai == 'Đã ký - chờ nhận'}).length"
                        class="transition-none px-[7px] leading-1 bg-red-500 text-white rounded-full font-[500] text-[13px]"></div>
                    </template>
                </div>

                <div id="tab5-hopdong"
                :class="tab5Active ? 'border-b-2 border-b-orange font-[500] shadow-md bg-white' : 'hover:bg-gray-50'"
                @click="$dispatch('tab5'); tab1Active = false; tab2Active = false; tab3Active = false; tab4Active = false; tab5Active = true; tab6Active = false"
                class="transition-none py-[10px] px-[20px] cursor-pointer flex flex-row justify-start items-center gap-1">
                    <i class="fa-solid fa-check text-[16px] pr-[2px] text-darkblue"></i>
                    <div class="transition-none">Hoàn thành</div>
                    <template x-if="totaloutput.filter((item) => {return item.trangthai == 'Hoàn thành'}).length > 0">
                        <div x-text="totaloutput.filter((item) => {return item.trangthai == 'Hoàn thành'}).length"
                        class="transition-none px-[7px] leading-1 bg-red-500 text-white rounded-full font-[500] text-[13px]"></div>
                    </template>
                </div>

                <div id="tab6-hopdong"
                :class="tab6Active ? 'border-b-2 border-b-orange font-[500] shadow-md bg-white' : 'hover:bg-gray-50'"
                @click="$dispatch('tab6'); tab1Active = false; tab2Active = false; tab3Active = false; tab4Active = false; tab5Active = false; tab6Active = true"
                class="transition-none py-[10px] px-[20px] cursor-pointer flex flex-row justify-start items-center gap-1">
                    <i class="fa-solid fa-circle-exclamation text-[16px] pr-[2px] text-darkblue"></i>
                    <div class="transition-none">Có lỗi - chờ nhận</div>
                    <template x-if="totaloutput.filter((item) => {return item.trangthai == 'Có lỗi - chờ nhận'}).length > 0">
                        <div x-text="totaloutput.filter((item) => {return item.trangthai == 'Có lỗi - chờ nhận'}).length"
                        class="transition-none px-[7px] leading-1 bg-red-500 text-white rounded-full font-[500] text-[13px]"></div>
                    </template>
                </div>
            </div>
        </div>
        <!-- end tabs row -->

        <!-- tab 1 -->
        <div x-data="{show:true,
            output: [],
            miniSearch: '',
            async getData() {
                this.miniSearch = new MiniSearch({
                    fields: ['sohopdong','giangvien.maso','giangvien.hovaten','donvimoi.ten','nguoiphutrach.hovaten','he'],
                    extractField: (document, fieldName) => {
                        if (fieldName === 'sohopdong') {
                            const so = document['so']
                            const nam = document['nam']
                            if (so) {
                                console.log(so + '/' + nam + '/' + 'HĐMG-XHNV-TCCB')
                                return so && so + '/' + nam + '/' + 'HĐMG-XHNV-TCCB'
                            }
                        }
                        return fieldName.split('.').reduce((doc, key) => doc && doc[key], document)
                    },
                    searchOptions: {
                        prefix: true,
                        combineWith: 'AND',
                    },
                    tokenize: (string, _fieldName) => string.split(' ')
                })
                this.output = totaloutput.filter((item) => {return item.trangthai == 'Đã tạo' || item.trangthai == 'Có sẵn'})
                this.miniSearch.removeAll();
                this.miniSearch.addAll(this.output);
            },
            getSearchResults() {
                if (search === '') {
                    this.output = totaloutput.filter((item) => {return item.trangthai == 'Đã tạo' || item.trangthai == 'Có sẵn'})
                } else {
                    this.output = this.miniSearch.search(search).map(({ id }) => totaldataframe[id])
                }
            },
            get checkoutput() {
                return (this.output) ? true : false;
            }
        }"
        @tab1.window="show = true"
        @tab2.window="show = false"
        @tab3.window="show = false"
        @tab4.window="show = false"
        @tab5.window="show = false"
        @tab6.window="show = false"
        @getdata.window="getData()"
        @searching.window="getSearchResults()"
        x-show="show"
        class="w-full max-w-[1000px] flex flex-col gap-3">
            <!-- {# start row #} -->
            <template x-if="checkoutput">
            <template x-for="(item, index) in output" :key="index">
                <div class="bg-white gap-4 p-[16px] transition-none z-[1] min-w-[750px] relative rounded-xl border w-full max-w-[1000px] flex flex-row justify-start items-start text-left">
                    <div class="absolute left-[16px] top-[50%] translate-y-[-50%] flex flex-row justify-start items-center z-[1]">
                        <input type="checkbox" :checked="checkbox[item.id]" 
                        @click="if($el.checked){$dispatch('hdchecked',{data: item})} else {$dispatch('hdunchecked', {data: item})}"
                        class="checkbox">
                    </div>
                    <div class="basis-[50px] shrink-0 h-full flex flex-col justify-start items-start">
                        <template x-if="item.bienban">
                        <div x-text="item.bienban" 
                        @click="clickall(item.trangthai, item.bienban)"
                        class="cursor-pointer text-[12px] px-[5px] rounded border border-black bg-white text-black font-[500]"></div>
                        </template>
                    </div>
                    <div class="basis-full shrink flex flex-col justify-start items-start gap-4">
                        <div class="w-full flex flex-row justify-between items-center">
                            <div class="flex flex-row justify-start items-center gap-5">
                                <div class="px-[10px] py-[1px] rounded-xl bg-orange text-white font-[500]" x-text="item.so + '/' + item.nam + '/' + 'HĐMG-XHNV-TCCB'"></div>
                                <div x-text="item.he"></div>
                                <div x-text="item.namhoc + ' ' + item.hocky"></div>
                            </div>
                            <div class="flex flex-row justify-end items-center gap-5">
                                <div class="px-[10px] py-[1px] rounded-xl bg-gray-100 text-black font-[500]" 
                                x-text="item.trangthai+' - '+item.ngaycapnhat">
                                </div>
                                <div class="cursor-pointer">
                                    Chi tiết <i class="text-[11px] fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="w-full flex flex-col justify-center items-start gap-3">
                            <div class="font-[500] text-[20px] text-blue" x-text="item.giangvien.hovaten+' - ['+item.giangvien.maso+']'"></div>
                            <div class="w-full flex flex-row justify-between items-center">
                                <div class="font-[500] text-[14px] text-gray-600" x-text="item.donvimoi.ten"></div>
                                <div class="font-[400] text-[14px] text-gray-500" x-text="'Người phụ trách: '+item.nguoiphutrach.hovaten"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            </template>
            <!-- {# End row#} -->

        </div>
        <!-- end tab 1 -->


        <!-- tab 2 -->
        <div x-data="{show:false,
            output: [],
            miniSearch: '',
            async getData() {
                this.miniSearch = new MiniSearch({
                    fields: ['sohopdong','giangvien.maso','giangvien.hovaten','donvimoi.ten','nguoiphutrach.hovaten','he'],
                    extractField: (document, fieldName) => {
                        if (fieldName === 'sohopdong') {
                            const so = document['so']
                            const nam = document['nam']
                            if (so) {
                                console.log(so + '/' + nam + '/' + 'HĐMG-XHNV-TCCB')
                                return so && so + '/' + nam + '/' + 'HĐMG-XHNV-TCCB'
                            }
                        }
                        return fieldName.split('.').reduce((doc, key) => doc && doc[key], document)
                    },
                    searchOptions: {
                        prefix: true,
                        combineWith: 'AND',
                    },
                    tokenize: (string, _fieldName) => string.split(' ')
                })
                this.output = totaloutput.filter((item) => {return item.trangthai == 'P.TCCB đã nhận'})
                this.miniSearch.removeAll();
                this.miniSearch.addAll(this.output);
            },
            getSearchResults() {
                if (search === '') {
                    this.output = totaloutput.filter((item) => {return item.trangthai == 'P.TCCB đã nhận'})
                } else {
                    this.output = this.miniSearch.search(search).map(({ id }) => totaldataframe[id])
                }
            },
            get checkoutput() {
                return (this.output) ? true : false;
            }
        }"
        @tab1.window="show = false"
        @tab2.window="show = true"
        @tab3.window="show = false"
        @tab4.window="show = false"
        @tab5.window="show = false"
        @tab6.window="show = false"
        @getdata.window="getData()"
        @searching.window="getSearchResults()"
        x-show="show"
        class="w-full max-w-[1000px] flex flex-col gap-5">
            <!-- {# start row #} -->
            <template x-if="checkoutput">
            <template x-for="(item, index) in output" :key="index">
                <div class="h-125px gap-4 p-[16px] transition-none z-[1] min-w-[750px] relative rounded-xl border-2 w-full max-w-[1000px] flex flex-row justify-start items-start text-left shadow">
                    <div class="absolute left-[16px] top-[50%] translate-y-[-50%] flex flex-row justify-start items-center z-[1]">
                        <input type="checkbox" :checked="checkbox[item.id]" 
                        @click="if($el.checked){$dispatch('hdchecked',{data: item})} else {$dispatch('hdunchecked', {data: item})}"
                        class="checkbox">
                    </div>
                    <div class="basis-[50px] shrink-0 h-full flex flex-col justify-start items-start">
                        <template x-if="item.bienban">
                        <div x-text="item.bienban" 
                        @click="clickall(item.trangthai, item.bienban)"
                        class="cursor-pointer text-[12px] px-[5px] rounded border border-black bg-white text-black font-[500]"></div>
                        </template>
                    </div>
                    <div class="basis-full shrink flex flex-col justify-start items-start gap-4">
                        <div class="w-full flex flex-row justify-between items-center">
                            <div class="flex flex-row justify-start items-center gap-5">
                                <div class="px-[10px] py-[1px] rounded-xl bg-orange text-white font-[500]" x-text="item.so + '/' + item.nam + '/' + 'HĐMG-XHNV-TCCB'"></div>
                                <div x-text="item.he"></div>
                                <div x-text="item.namhoc + ' ' + item.hocky"></div>
                            </div>
                            <div class="flex flex-row justify-end items-center gap-5">
                                <div class="px-[10px] py-[1px] rounded-xl bg-yellow-100 text-yellow-800 font-[500]" 
                                x-text="item.trangthai+' - '+item.ngaycapnhat">
                                </div>
                                <div class="cursor-pointer">
                                    Chi tiết <i class="text-[11px] fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="w-full flex flex-col justify-center items-start gap-3">
                            <div class="font-[500] text-[20px] text-blue" x-text="item.giangvien.hovaten+' - ['+item.giangvien.maso+']'"></div>
                            <div class="w-full flex flex-row justify-between items-center">
                                <div class="font-[500] text-[14px] text-gray-600" x-text="item.donvimoi.ten"></div>
                                <div class="font-[400] text-[14px] text-gray-500" x-text="'Người phụ trách: '+item.nguoiphutrach.hovaten"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            </template>
            <!-- {# End row#} -->

        </div>
        <!-- end tab 2 -->        


        <!-- tab 3 -->
        <div x-data="{show:false,
            output: [],
            miniSearch: '',
            async getData() {
                this.miniSearch = new MiniSearch({
                    fields: ['sohopdong','giangvien.maso','giangvien.hovaten','donvimoi.ten','nguoiphutrach.hovaten','he'],
                    extractField: (document, fieldName) => {
                        if (fieldName === 'sohopdong') {
                            const so = document['so']
                            const nam = document['nam']
                            if (so) {
                                console.log(so + '/' + nam + '/' + 'HĐMG-XHNV-TCCB')
                                return so && so + '/' + nam + '/' + 'HĐMG-XHNV-TCCB'
                            }
                        }
                        return fieldName.split('.').reduce((doc, key) => doc && doc[key], document)
                    },
                    searchOptions: {
                        prefix: true,
                        combineWith: 'AND',
                    },
                    tokenize: (string, _fieldName) => string.split(' ')
                })
                this.output = totaloutput.filter((item) => {return item.trangthai == 'Đang trình ký'})
                this.miniSearch.removeAll();
                this.miniSearch.addAll(this.output);
            },
            getSearchResults() {
                if (search === '') {
                    this.output = totaloutput.filter((item) => {return item.trangthai == 'Đang trình ký'})
                } else {
                    this.output = this.miniSearch.search(search).map(({ id }) => totaldataframe[id])
                }
            },
            get checkoutput() {
                return (this.output) ? true : false;
            }
        }"
        @tab1.window="show = false"
        @tab2.window="show = false"
        @tab3.window="show = true"
        @tab4.window="show = false"
        @tab5.window="show = false"
        @tab6.window="show = false"
        @getdata.window="getData()"
        @searching.window="getSearchResults()"
        x-show="show"
        class="w-full max-w-[1000px] flex flex-col gap-5">
            <!-- {# start row #} -->
            <template x-if="checkoutput">
            <template x-for="(item, index) in output" :key="index">
                <div class="h-125px gap-4 p-[16px] transition-none z-[1] min-w-[750px] relative rounded-xl border-2 w-full max-w-[1000px] flex flex-row justify-start items-start text-left shadow">
                    <div class="absolute left-[16px] top-[50%] translate-y-[-50%] flex flex-row justify-start items-center z-[1]">
                        <input type="checkbox" :checked="checkbox[item.id]" 
                        @click="if($el.checked){$dispatch('hdchecked',{data: item})} else {$dispatch('hdunchecked', {data: item})}"
                        class="checkbox">
                    </div>
                    <div class="basis-[50px] shrink-0 h-full flex flex-col justify-start items-start">
                        <template x-if="item.bienban">
                        <div x-text="item.bienban" 
                        @click="clickall(item.trangthai, item.bienban)"
                        class="cursor-pointer text-[12px] px-[5px] rounded border border-black bg-white text-black font-[500]"></div>
                        </template>
                    </div>
                    <div class="basis-full shrink flex flex-col justify-start items-start gap-4">
                        <div class="w-full flex flex-row justify-between items-center">
                            <div class="flex flex-row justify-start items-center gap-5">
                                <div class="px-[10px] py-[1px] rounded-xl bg-orange text-white font-[500]" x-text="item.so + '/' + item.nam + '/' + 'HĐMG-XHNV-TCCB'"></div>
                                <div x-text="item.he"></div>
                                <div x-text="item.namhoc + ' ' + item.hocky"></div>
                            </div>
                            <div class="flex flex-row justify-end items-center gap-5">
                                <div class="px-[10px] py-[1px] rounded-xl bg-[#fee7c3] text-yellow-950 font-[500]" 
                                x-text="item.trangthai+' - '+item.ngaycapnhat">
                                </div>
                                <div class="cursor-pointer">
                                    Chi tiết <i class="text-[11px] fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="w-full flex flex-col justify-center items-start gap-3">
                            <div class="font-[500] text-[20px] text-blue" x-text="item.giangvien.hovaten+' - ['+item.giangvien.maso+']'"></div>
                            <div class="w-full flex flex-row justify-between items-center">
                                <div class="font-[500] text-[14px] text-gray-600" x-text="item.donvimoi.ten"></div>
                                <div class="font-[400] text-[14px] text-gray-500" x-text="'Người phụ trách: '+item.nguoiphutrach.hovaten"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            </template>
            <!-- {# End row#} -->

        </div>
        <!-- end tab 3 -->  


        <!-- tab 4 -->
        <div x-data="{show:false,
            output: [],
            miniSearch: '',
            async getData() {
                this.miniSearch = new MiniSearch({
                    fields: ['sohopdong','giangvien.maso','giangvien.hovaten','donvimoi.ten','nguoiphutrach.hovaten','he'],
                    extractField: (document, fieldName) => {
                        if (fieldName === 'sohopdong') {
                            const so = document['so']
                            const nam = document['nam']
                            if (so) {
                                console.log(so + '/' + nam + '/' + 'HĐMG-XHNV-TCCB')
                                return so && so + '/' + nam + '/' + 'HĐMG-XHNV-TCCB'
                            }
                        }
                        return fieldName.split('.').reduce((doc, key) => doc && doc[key], document)
                    },
                    searchOptions: {
                        prefix: true,
                        combineWith: 'AND',
                    },
                    tokenize: (string, _fieldName) => string.split(' ')
                })
                this.output = totaloutput.filter((item) => {return item.trangthai == 'Đã ký - chờ nhận'})
                this.miniSearch.removeAll();
                this.miniSearch.addAll(this.output);
            },
            getSearchResults() {
                if (search === '') {
                    this.output = totaloutput.filter((item) => {return item.trangthai == 'Đã ký - chờ nhận'})
                } else {
                    this.output = this.miniSearch.search(search).map(({ id }) => totaldataframe[id])
                }
            },
            get checkoutput() {
                return (this.output) ? true : false;
            }
        }"
        @tab1.window="show = false"
        @tab2.window="show = false"
        @tab3.window="show = false"
        @tab4.window="show = true"
        @tab5.window="show = false"
        @tab6.window="show = false"
        @getdata.window="getData()"
        @searching.window="getSearchResults()"
        x-show="show"
        class="w-full max-w-[1000px] flex flex-col gap-5">
            <!-- {# start row #} -->
            <template x-if="checkoutput">
            <template x-for="(item, index) in output" :key="index">
                <div class="h-125px gap-4 p-[16px] transition-none z-[1] min-w-[750px] relative rounded-xl border-2 w-full max-w-[1000px] flex flex-row justify-start items-start text-left shadow">
                    <div class="absolute left-[16px] top-[50%] translate-y-[-50%] flex flex-row justify-start items-center z-[1]">
                        <input type="checkbox" :checked="checkbox[item.id]" 
                        @click="if($el.checked){$dispatch('hdchecked',{data: item})} else {$dispatch('hdunchecked', {data: item})}"
                        class="checkbox">
                    </div>
                    <div class="basis-[50px] shrink-0 h-full flex flex-col justify-start items-start">
                        <template x-if="item.bienban">
                        <div x-text="item.bienban" 
                        @click="clickall(item.trangthai, item.bienban)"
                        class="cursor-pointer text-[12px] px-[5px] rounded border border-black bg-white text-black font-[500]"></div>
                        </template>
                    </div>
                    <div class="basis-full shrink flex flex-col justify-start items-start gap-4">
                        <div class="w-full flex flex-row justify-between items-center">
                            <div class="flex flex-row justify-start items-center gap-5">
                                <div class="px-[10px] py-[1px] rounded-xl bg-orange text-white font-[500]" x-text="item.so + '/' + item.nam + '/' + 'HĐMG-XHNV-TCCB'"></div>
                                <div x-text="item.he"></div>
                                <div x-text="item.namhoc + ' ' + item.hocky"></div>
                            </div>
                            <div class="flex flex-row justify-end items-center gap-5">
                                <div class="px-[10px] py-[1px] rounded-xl bg-[#c3fdfe] text-[#0c4359] font-[500]" 
                                x-text="item.trangthai+' - '+item.ngaycapnhat">
                                </div>
                                <div class="cursor-pointer">
                                    Chi tiết <i class="text-[11px] fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="w-full flex flex-col justify-center items-start gap-3">
                            <div class="font-[500] text-[20px] text-blue" x-text="item.giangvien.hovaten+' - ['+item.giangvien.maso+']'"></div>
                            <div class="w-full flex flex-row justify-between items-center">
                                <div class="font-[500] text-[14px] text-gray-600" x-text="item.donvimoi.ten"></div>
                                <div class="font-[400] text-[14px] text-gray-500" x-text="'Người phụ trách: '+item.nguoiphutrach.hovaten"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            </template>
            <!-- {# End row#} -->

        </div>
        <!-- end tab 4 -->  


        <!-- tab 5 -->
        <div x-data="{show:false,
            output: [],
            miniSearch: '',
            async getData() {
                this.miniSearch = new MiniSearch({
                    fields: ['sohopdong','giangvien.maso','giangvien.hovaten','donvimoi.ten','nguoiphutrach.hovaten','he'],
                    extractField: (document, fieldName) => {
                        if (fieldName === 'sohopdong') {
                            const so = document['so']
                            const nam = document['nam']
                            if (so) {
                                console.log(so + '/' + nam + '/' + 'HĐMG-XHNV-TCCB')
                                return so && so + '/' + nam + '/' + 'HĐMG-XHNV-TCCB'
                            }
                        }
                        return fieldName.split('.').reduce((doc, key) => doc && doc[key], document)
                    },
                    searchOptions: {
                        prefix: true,
                        combineWith: 'AND',
                    },
                    tokenize: (string, _fieldName) => string.split(' ')
                })
                this.output = totaloutput.filter((item) => {return item.trangthai == 'Hoàn thành'})
                this.miniSearch.removeAll();
                this.miniSearch.addAll(this.output);
            },
            getSearchResults() {
                if (search === '') {
                    this.output = totaloutput.filter((item) => {return item.trangthai == 'Hoàn thành'})
                } else {
                    this.output = this.miniSearch.search(search).map(({ id }) => totaldataframe[id])
                }
            },
            get checkoutput() {
                return (this.output) ? true : false;
            }
        }"
        @tab1.window="show = false"
        @tab2.window="show = false"
        @tab3.window="show = false"
        @tab4.window="show = false"
        @tab5.window="show = true"
        @tab6.window="show = false"
        @getdata.window="getData()"
        @searching.window="getSearchResults()"
        x-show="show"
        class="w-full max-w-[1000px] flex flex-col gap-5">
            <!-- {# start row #} -->
            <template x-if="checkoutput">
            <template x-for="(item, index) in output" :key="index">
                <div class="h-125px gap-4 p-[16px] transition-none z-[1] min-w-[750px] relative rounded-xl border-2 w-full max-w-[1000px] flex flex-row justify-start items-start text-left shadow">
                    <div class="absolute left-[16px] top-[50%] translate-y-[-50%] flex flex-row justify-start items-center z-[1]">
                        <input type="checkbox" :checked="checkbox[item.id]" 
                        @click="if($el.checked){$dispatch('hdchecked',{data: item})} else {$dispatch('hdunchecked', {data: item})}"
                        class="checkbox">
                    </div>
                    <div class="basis-[50px] shrink-0 h-full flex flex-col justify-start items-start">
                        <template x-if="item.bienban">
                        <div x-text="item.bienban" 
                        @click="clickall(item.trangthai, item.bienban)"
                        class="cursor-pointer text-[12px] px-[5px] rounded border border-black bg-white text-black font-[500]"></div>
                        </template>
                    </div>
                    <div class="basis-full shrink flex flex-col justify-start items-start gap-4">
                        <div class="w-full flex flex-row justify-between items-center">
                            <div class="flex flex-row justify-start items-center gap-5">
                                <div class="px-[10px] py-[1px] rounded-xl bg-orange text-white font-[500]" x-text="item.so + '/' + item.nam + '/' + 'HĐMG-XHNV-TCCB'"></div>
                                <div x-text="item.he"></div>
                                <div x-text="item.namhoc + ' ' + item.hocky"></div>
                            </div>
                            <div class="flex flex-row justify-end items-center gap-5">
                                <div class="px-[10px] py-[1px] rounded-xl bg-[#dffec3] text-[#17590c] font-[500]" 
                                x-text="item.trangthai+' - '+item.ngaycapnhat">
                                </div>
                                <div class="cursor-pointer">
                                    Chi tiết <i class="text-[11px] fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="w-full flex flex-col justify-center items-start gap-3">
                            <div class="font-[500] text-[20px] text-blue" x-text="item.giangvien.hovaten+' - ['+item.giangvien.maso+']'"></div>
                            <div class="w-full flex flex-row justify-between items-center">
                                <div class="font-[500] text-[14px] text-gray-600" x-text="item.donvimoi.ten"></div>
                                <div class="font-[400] text-[14px] text-gray-500" x-text="'Người phụ trách: '+item.nguoiphutrach.hovaten"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            </template>
            <!-- {# End row#} -->

        </div>
        <!-- end tab 5 -->  


        <!-- tab 6 -->
        <div x-data="{show:false,
            output: [],
            miniSearch: '',
            async getData() {
                this.miniSearch = new MiniSearch({
                    fields: ['sohopdong','giangvien.maso','giangvien.hovaten','donvimoi.ten','nguoiphutrach.hovaten','he'],
                    extractField: (document, fieldName) => {
                        if (fieldName === 'sohopdong') {
                            const so = document['so']
                            const nam = document['nam']
                            if (so) {
                                console.log(so + '/' + nam + '/' + 'HĐMG-XHNV-TCCB')
                                return so && so + '/' + nam + '/' + 'HĐMG-XHNV-TCCB'
                            }
                        }
                        return fieldName.split('.').reduce((doc, key) => doc && doc[key], document)
                    },
                    searchOptions: {
                        prefix: true,
                        combineWith: 'AND',
                    },
                    tokenize: (string, _fieldName) => string.split(' ')
                })
                this.output = totaloutput.filter((item) => {return item.trangthai == 'Có lỗi - chờ nhận'})
                this.miniSearch.removeAll();
                this.miniSearch.addAll(this.output);
            },
            getSearchResults() {
                if (search === '') {
                    this.output = totaloutput.filter((item) => {return item.trangthai == 'Có lỗi - chờ nhận'})
                } else {
                    this.output = this.miniSearch.search(search).map(({ id }) => totaldataframe[id])
                }
            },
            get checkoutput() {
                return (this.output) ? true : false;
            }
        }"
        @tab1.window="show = false"
        @tab2.window="show = false"
        @tab3.window="show = false"
        @tab4.window="show = false"
        @tab5.window="show = false"
        @tab6.window="show = true"
        @getdata.window="getData()"
        @searching.window="getSearchResults()"
        x-show="show"
        class="w-full max-w-[1000px] flex flex-col gap-5">
            <!-- {# start row #} -->
            <template x-if="checkoutput">
            <template x-for="(item, index) in output" :key="index">
                <div class="h-125px gap-4 p-[16px] transition-none z-[1] min-w-[750px] relative rounded-xl border-2 w-full max-w-[1000px] flex flex-row justify-start items-start text-left shadow">
                    <div class="absolute left-[16px] top-[50%] translate-y-[-50%] flex flex-row justify-start items-center z-[1]">
                        <input type="checkbox" :checked="checkbox[item.id]" 
                        @click="if($el.checked){$dispatch('hdchecked',{data: item})} else {$dispatch('hdunchecked', {data: item})}"
                        class="checkbox">
                    </div>
                    <div class="basis-[50px] shrink-0 h-full flex flex-col justify-start items-start">
                        <template x-if="item.bienban">
                        <div x-text="item.bienban" 
                        @click="clickall(item.trangthai, item.bienban)"
                        class="cursor-pointer text-[12px] px-[5px] rounded border border-black bg-white text-black font-[500]"></div>
                        </template>
                    </div>
                    <div class="basis-full shrink flex flex-col justify-start items-start gap-4">
                        <div class="w-full flex flex-row justify-between items-center">
                            <div class="flex flex-row justify-start items-center gap-5">
                                <div class="px-[10px] py-[1px] rounded-xl bg-orange text-white font-[500]" x-text="item.so + '/' + item.nam + '/' + 'HĐMG-XHNV-TCCB'"></div>
                                <div x-text="item.he"></div>
                                <div x-text="item.namhoc + ' ' + item.hocky"></div>
                            </div>
                            <div class="flex flex-row justify-end items-center gap-5">
                                <div class="px-[10px] py-[1px] rounded-xl bg-red-100 text-red-900 font-[500]" 
                                x-text="item.trangthai+' - '+item.ngaycapnhat">
                                </div>
                                <div class="cursor-pointer">
                                    Chi tiết <i class="text-[11px] fa-solid fa-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="w-full flex flex-col justify-center items-start gap-3">
                            <div class="font-[500] text-[20px] text-blue" x-text="item.giangvien.hovaten+' - ['+item.giangvien.maso+']'"></div>
                            <div class="w-full flex flex-row justify-between items-center">
                                <div class="font-[500] text-[14px] text-gray-600" x-text="item.donvimoi.ten"></div>
                                <div class="font-[400] text-[14px] text-gray-500" x-text="'Người phụ trách: '+item.nguoiphutrach.hovaten"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            </template>
            <!-- {# End row#} -->

        </div>
        <!-- end tab 6 -->  


        <!-- start selected -->
        <div x-data="{open: false}">
            <!-- start button selected -->
            <div x-show="checkselected" @click="open = ! open"
            class="cursor-pointer w-[50px] h-[50px] fixed bottom-[20px] right-[30px] bg-orange rounded-full z-[1] text-white">
                <div class="w-full h-full relative flex justify-center items-center">
                    <i x-show="!open" class="fa-solid fa-box-open text-[25px]"></i>
                    <i x-show="open" class="fa-solid fa-xmark text-[25px]"></i>
                    <div class="h-[25px] w-[25px] bg-red-600 rounded-full absolute top-[-5px] left-[-5px]"
                    @hdchecked.window="$el.classList.add('animate-ping'); setTimeout(function(){$el.classList.remove('animate-ping')},500)"
                    @hdunchecked.window="$el.classList.add('animate-ping'); setTimeout(function(){$el.classList.remove('animate-ping')},500)"></div>
                    <div x-ref="buttonselected" class="h-[25px] w-[25px] bg-red-600 text-white rounded-full absolute top-[-5px] left-[-5px] border border-white flex justify-center items-center">
                        <div class="font-[600]" x-text="selected.length"></div>
                    </div>
                </div>
            </div>
            <!-- end button selected -->

            <!-- start table selected -->
            <div @click.outside="open = false" x-show="open" x-anchor.top-end="$refs.buttonselected" class="flex flex-col w-[350px] h-[500px] rounded-xl overflow-hidden transition-none z-[1] shadow-[rgba(6,_24,_44,_0.4)_0px_0px_0px_2px,_rgba(6,_24,_44,_0.65)_0px_4px_6px_-1px,_rgba(255,_255,_255,_0.08)_0px_1px_0px_inset]">
                <!-- start item in selected -->
                <div class="basis-full shrink relative overflow-y-auto overflow-x-hidden flex flex-col justify-start items-center gap-4 px-[15px] py-[20px] bg-white">
                    <template x-for="(item, index) in reverseArray" :key="index">
                        <div class="h-[50px] w-full border border-gray-500 rounded-xl flex flex-row justify-start items-start">
                            <div class="h-full w-[50px] flex justify-center items-center">
                                <i class="text-gray-400 fa-solid fa-file text-[20px]"></i>
                            </div>
                            <div class="w-full h-full flex flex-col justify-center items-start">
                                <div class="font-[500]" x-text="item.so + '/' + item.nam + '/' + 'HĐMG-XHNV-TCCB'"></div>
                                <div x-text="item.giangvien.hovaten"></div>
                            </div>
                            <div class="h-[50px] w-[50px] flex justify-center items-center">
                                <i @click="checkbox[item.id]=false; removeselected(item); if(selected.length == 0){open = false}"
                                class="cursor-pointer fa-regular fa-circle-xmark text-[20px] text-red-500"></i>
                            </div>
                        </div>
                    </template>
                </div>
                <!-- end item in selected -->

                <!-- start button selected next -->
                <div x-data="{
                    sendData(loai) {
                        var data = [];
                        selected.forEach((item, index) => {
                            data.push(item.id)
                        })
                        if (loai == 'binhthuong') {
                            if (trangthaiselected == 'Có sẵn') {
                                url='/api/hopdong/upgrade/nhanhopdong'
                            } else if (trangthaiselected == 'P.TCCB đã nhận') {
                                url='/api/hopdong/upgrade/trinhky'
                            } else if (trangthaiselected == 'Đang trình ký') {
                                url='/api/hopdong/upgrade/daky'
                            } else if (trangthaiselected == 'Đã ký - chờ nhận') {
                                url='/api/hopdong/upgrade/hoanthanh'
                            } else if (trangthaiselected == 'Có lỗi - chờ nhận') {
                                url='/api/hopdong/upgrade/tralai'
                            }
                        } else if (loai == 'baoloi') {
                            url = '/api/hopdong/upgrade/baoloi'
                        }
                        fetch(url, {
                            method:'POST',
                            headers:{'Content-Type': 'application/json',},
                            body: JSON.stringify(data)
                        })
                        .then((response) => response.json())
                        .then((result) => {
                            if (result.message == 'success') {
                                totaloutput = result.data
                                totaldataframe = this.totaloutput.reduce((byId, song) => {
                                    byId[song.id] = song;
                                    return byId;
                                }, {});
                                $dispatch('getdata')
                                selected = [];
                                checkbox={};
                                open=false;
                            }
                        });
                    }
                }"
                class="basis-[60px] shrink-0 w-full bg-darkblue flex flex-row justify-center items-center">
                    <div class="h-full basis-[25%] shrink"></div>
                    <div class="h-full basis-[50%] shrink flex justify-center items-center">
                        <div
                        @click="sendData('binhthuong')"
                        class="w-full ">
                            <template x-if="trangthaiselected == 'Có sẵn'">
                                <div class="cursor-pointer rounded-2xl w-full h-[40px] flex flex-row justify-evenly items-center bg-yellow-400">
                                    <div class="text-darkblue font-[500] text-[16px]">Nhận hợp đồng</div>
                                    <div>
                                        <i class="fa-solid fa-circle-arrow-right text-darkblue text-[16px]"></i>
                                    </div>
                                </div>
                            </template>
                            <template x-if="trangthaiselected == 'P.TCCB đã nhận'">
                                <div class="cursor-pointer rounded-2xl w-full h-[40px] flex flex-row justify-evenly items-center bg-[#fda772]">
                                    <div class="text-black font-[500] text-[16px]">Trình ký hợp đồng</div>
                                    <div>
                                        <i class="fa-solid fa-circle-arrow-right text-black text-[16px]"></i>
                                    </div>
                                </div>
                            </template>
                            <template x-if="trangthaiselected == 'Đang trình ký'">
                                <div class="cursor-pointer rounded-2xl w-full h-[40px] flex flex-row justify-evenly items-center bg-[#99feff]">
                                    <div class="text-darkblue font-[500] text-[16px]">Hợp đồng đã ký</div>
                                    <div>
                                        <i class="fa-solid fa-circle-arrow-right text-darkblue text-[16px]"></i>
                                    </div>
                                </div>
                            </template>
                            <template x-if="trangthaiselected == 'Đã ký - chờ nhận'">
                                <div class="cursor-pointer rounded-2xl w-full h-[40px] flex flex-row justify-evenly items-center bg-[#c9ff99]">
                                    <div class="text-darkblue font-[500] text-[16px]">Hoàn thành trả HĐ</div>
                                    <div>
                                        <i class="fa-solid fa-circle-arrow-right text-darkblue text-[16px]"></i>
                                    </div>
                                </div>
                            </template>
                            <template x-if="trangthaiselected == 'Có lỗi - chờ nhận'">
                                <div class="cursor-pointer rounded-2xl w-full h-[40px] flex flex-row justify-evenly items-center bg-gray-300">
                                    <div class="text-black font-[500] text-[16px]">Trả HĐ về sửa</div>
                                    <div>
                                        <i class="fa-solid fa-circle-arrow-right text-black text-[16px]"></i>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                    <div class="h-full basis-[25%] shrink flex justify-center items-center">
                        <div @click="sendData('baoloi')" @mouseover="tetttt = true" @mouseover.away="tetttt = false" x-data="{tetttt: false}" class="rounded-full bg-white w-[18px] h-[18px] flex justify-center items-center">
                            <i x-ref="baoloibtn" class="cursor-pointer fa-solid fa-circle-exclamation text-[20px] text-red-500"></i>
                            <div x-show="tetttt" x-anchor.offset.5="$refs.baoloibtn" class="transition-none w-[60px] p-[5px] text-[12px] rounded boder bg-yellow-100">Báo lỗi!</div>
                        </div>
                    </div>
                </div>
                <!-- end button selected next -->
            </div>
            <!-- end table selected -->
        </div>
        <!-- end selected -->
    </div>  
</div>